* {
  font-family: "Overpass", sans-serif;
}
header {
  height: 25vh;
  background-color: rgb(7, 109, 109);
  margin-bottom: 10px;
}
header,
h1 {
  font-size: 100px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.padding {
  padding: 10px;
}
ul {
  background-color: rgb(233, 233, 233);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* recently searched title */
#rs-title{height: 45px;
background-color: gray;
color:whitesmoke;
font-size: 25px;
margin-bottom: 5px;
}
/* #currentCityWeatherFacts , ul{
   ; */
/* } */
body {
  margin: 0;
}
#forecast-card{

  
}